<h1>
Organizations | 
<a href="{% url 'jobs:list' %}">Jobs</a> | 
<a href="{% url 'blacklist:index' %}">Blacklist</a>
</h1>
<a href="{% url 'organizations:create' %}">Create</a> |
<a href="{% url 'admin:organizations_organization_changelist' %}">Manage</a> |
<a href="{% url 'logout' %}">Logout</a>
<hr />
{% if organization_list %}
    <p>
        Total: {{ organization_list|length }}<br />
        Enabled: {{ enabled_organization_list|length }}<br />
        Disabled: {{ disabled_organization_list|length }}
    </p>
{% else %}
    <p>No organizations found.</p>
{% endif %}
